* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    display: none;
}

form#search-form {
    width: 100%;
    display: flex;
    margin-bottom: 0.4rem;
}

input#search-query {
    border-radius: 1000px;
    width: 100%;
    margin: 0.8rem 1.6rem 0;
    font-size: 0.875rem;
    text-align: center;
    line-height: 3.5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    color: black;
    letter-spacing: 0.075rem;
}

input#search-query::placeholder {
    color: black;
    font-family: FontAwesome, Roboto;
}


nav#main-navigation {
    box-shadow: rgb(0 0 0 / 8%) 0 6px 6px;
}

nav#main-navigation ul {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: space-evenly;
}

nav#main-navigation li {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.8rem;
    padding-top: 0.5rem;
}